* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surfce-color: #F5F5F5;    
    --skeletion-color: #D9D9D9;
    --shape-transparent: oklch(100% 0.00011 271.152 / 0.315);
    --prymary-color-text: #313131;
    --secondary-color-text: #6C6C6C;

    --font-family: 'Poppins', sans-serif;
    
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
    background-color: var(--background-color);
    color: var(--sec-color-text);
}
